<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-card-header>
      <h2>Create a New Account</h2>
    </mat-card-header>
    <mat-card-subtitle>
      <p>It’s quick and easy.</p>
    </mat-card-subtitle>
    <mat-card-content>
      <mat-form-field class="form-group">
        <input class="form-control" matInput ngModel type="email" name="email" placeholder="Email" #emailInput="ngModel" required email>
      </mat-form-field>
      <mat-error *ngIf="emailInput.invalid && emailInput.touched">Please enter a valid email.</mat-error>

      <mat-form-field class="form-group">
        <input class="form-control" matInput type="password" ngModel name="password" placeholder="Password" #passwordInput="ngModel" required>
      </mat-form-field>
      <mat-error *ngIf="passwordInput.invalid && passwordInput.touched">Please enter a valid password</mat-error>
    </mat-card-content>
    <mat-card-footer>
      <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">SignUp</button>
    </mat-card-footer>
  </form>
</mat-card>
